*{
    
    font-family: 'Josefin Sans', sans-serif;                                              
    font-size: 1.25em;
}
body{
    background-image: url(/imagenes/wallpaper.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
}
a{
    font-size: 1.5em;
}

a:hover{
    cursor: pointer;
}
/*
section{
    background-image: url("/imagenes/wallpaper.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    
}
*/

.card{
    width: 18rem;
}

form{
    background-color: gray;
}
#descripcion{
    resize: none;
}

footer{
    font-size: 0.75em;
}

footer a{
    font-size: 1em;
}